<div class="container" *ngFor="let workout of workouts">
  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
            Workout vom {{workoutDates[workouts.indexOf(workout)]}}
        </mat-panel-title>
      </mat-expansion-panel-header>
      <div *ngFor="let exercise of workout.exercises">
          <ul class="list-group" style="cursor: pointer" (click)="onEdit(exercise, f)">
            <div class="row">
              <div class="col-md-2">
                <b>{{exercise.name}}:</b>
              </div>
              <div class="col-md-2" *ngFor="let set of exercise.sets" style="border: 1px solid black; max-width: 5em">
                &nbsp;{{set}}
              </div>
            </div>
          </ul>
        </div>
        <br>
        <form (ngSubmit)="onAddExercise(f, workout)" #f="ngForm">
          <div class="row">
            <div class="col-md-2">
              <input class="form-control" type="text" name="uebung" placeholder="Übung" ngModel>
            </div>
            <div *ngFor="let i of sets" class="col-md-2">
              <input type="number" name="set{{i}}" class="form-control" placeholder="Satz {{i}}" ngModel>
            </div>
          </div>
          <div class="row d-flex justify-content-between mx-1 mt-1">
            <button type="submit" class="btn btn-success">Add</button>
            <button type="button" class="btn btn-primary" (click)="onClearForm(f)">Clear</button>
            <button type="button" class="btn btn-danger" (click)="onDeleteExercise(f.value.uebung, workout)">Remove</button>
          </div>
        </form>
    </mat-expansion-panel>
  </mat-accordion>
</div>
