<mat-spinner style="margin: auto;" *ngIf="isLoading"></mat-spinner>

<mat-accordion *ngIf="!isLoading">
  <mat-expansion-panel *ngFor="let workout of workouts">
    <mat-expansion-panel-header>
      <mat-panel-title>
        Workout vom {{ workout.date }}
      </mat-panel-title>
    </mat-expansion-panel-header>
    <div class="row">
      <div class="col-6">
        <i class="material-icons" style="cursor: context-menu" title="Klicke auf die Übungen um sie zu bearbeiten.">info</i>
      </div>
      <div class="col-6 text-right">
          <i class="material-icons" style="cursor: pointer" (click)="onRemoveWorkout(workout)"> delete</i>
      </div>
    </div>
    <div class="row" *ngFor="let exercise of workout.exercises" style="cursor: pointer" (click)="fillForm(exercise, editForm)">
      <div class="col-md">
        {{ exercise.name }}
      </div>
      <div class="col-md" *ngFor="let set of exercise.sets">
        {{ set.rep }} mal {{ set.weight }} kg
      </div>
    </div>
    <br>
    <form #editForm="ngForm">
      <div class="row">
        <div class="col-md-2">
          <input type="text" class="form-control" name="uebung" placeholder="Übung" required ngModel>
        </div>
        <div class="col-md-2"  *ngFor="let i of [1,2,3,4,5]">
          <input type="number" class="form-control" name="rep{{i}}" placeholder="Satz {{i}}" ngModel>
          <input type="number" class="form-control" name="weight{{i}}" placeholder="Gewicht" ngModel>
        </div>
      </div>
      <br>
      <div class="row">
        <div class="col-md-3 text-center text-md-left">
          <button mat-raised-button color="primary" type="button" (click)="onAddExercise(editForm, workout)">Hinzufügen/Ersetzen</button>
        </div>
        <div class="col-md-3 text-center">
          <button mat-raised-button color="accent" type="button" (click)="onClearForm(editForm)">Leeren</button>
        </div>
        <div class="col-md-3 text-center">
          <button mat-raised-button color="warn" type="button" (click)="onRemoveExercise(editForm, workout)">Löschen</button>
        </div>
        <div class="col-md-3 text-center text-md-right">
          <button mat-raised-button color="primary" style="background-color:green" type="button" (click)="onSaveWorkouts()">Speichern</button>
        </div>
      </div>
    </form>
  </mat-expansion-panel>
</mat-accordion>
