<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <div class="container">
    <a class="navbar-brand">Workout Engine</a>
    <button class="navbar-toggler btn" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02"  aria-expanded="false" aria-label="Toggle navigation" aria-controls="navbarTogglerDemo02">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" routerLink="workout-form">Neues Workout</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="workout-calendar">Workout Kalender</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="workout-edit">Workouts bearbeiten</a>
        </li>
      </ul>
      <ul class="navbar-nav ml-auto">
        <li class="nav-item" *ngIf="authService.isAuthenticated()"><a class="nav-link" (click)="onLogout()">Logout</a></li>
        <li class="nav-item" *ngIf="!authService.isAuthenticated()"><a class="nav-link" routerLinkActive="active" routerLink="authenticate">Login/Register</a></li>
      </ul>
    </div>
  </div>
</nav>
<br>
<div class="container">
  <router-outlet></router-outlet>
</div>
