/* ==== Kalender stylings ==== */

.calendar {
  margin:auto;
  margin-top:15px;
  width:75% !important;
}

#calendarHeading {
  padding-top:17px;
}

.weekDay {
  text-align:center;
}

.cell {
  text-align:center;
  width: 100px;
}

.btn-secondary{
  height:60px;
  width:100%;
}

/* ==== Styling für Workouttabelle ==== */

.notify {
  border: solid black;
  border-width: 0 3px 3px 0;
  padding: 3px;
  position:relative;
  left: 10px;
  display: inline-block;
  transform: rotate(-45deg);
  cursor:pointer;
}

.rotateArrow {
  animation-name: rotateArrow;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}

@keyframes rotateArrow {
  from{  transform: rotate(-45deg)   }
  to  {  transform: rotate(45deg) }
}

.rotateArrowBack {
  animation-name: rotateArrowBack;
  animation-duration:0.25s;
  animation-fill-mode:forwards;
}

@keyframes rotateArrowBack {
  from{  transform: rotate(45deg)   }
  to  {  transform: rotate(-45deg) }
}
