<mat-spinner *ngIf="isLoading" style="margin:auto"></mat-spinner>

<div class="main" *ngIf="!isLoading">
  <h1 class="text-center">Workout Kalender</h1>
    <table class="table table-bordered calendar">
      <thead class="th-light">
        <tr class="CalendarHeading table-info">
            <td class="cell" id="PrevMonth" colspan="2"><button class="btn btn-secondary" (click)="onPrevMonth()">&#8249;</button></td>
            <td class="cell align-middle" colspan="3" id="CalendarHeading"></td>
            <td class="cell" id="NextMonth" colspan="2"><button class="btn btn-secondary" (click)="onNextMonth()">&#8250;</button></td>
        </tr>
      </thead>
  <!-- The sector for the WeekDays in the Table Heading -->
  <tr>
      <th class="weekDay">So</th>
      <th class="weekDay">Mo</th>
      <th class="weekDay">Di</th>
      <th class="weekDay">Mi</th>
      <th class="weekDay">Do</th>
      <th class="weekDay">Fr</th>
      <th class="weekDay">Sa</th>
  </tr>
  <!-- The sector for the Days in the Calendar Cells -->
  <tr>
      <td class="cell" id="nr0"></td>
      <td class="cell" id="nr1"></td>
      <td class="cell" id="nr2"></td>
      <td class="cell" id="nr3"></td>
      <td class="cell" id="nr4"></td>
      <td class="cell" id="nr5"></td>
      <td class="cell" id="nr6"></td>
  </tr>
  <tr>
      <td class="cell" id="nr7"></td>
      <td class="cell" id="nr8"></td>
      <td class="cell" id="nr9"></td>
      <td class="cell" id="nr10"></td>
      <td class="cell" id="nr11"></td>
      <td class="cell" id="nr12"></td>
      <td class="cell" id="nr13"></td>
  </tr>
  <tr>
      <td class="cell" id="nr14"></td>
      <td class="cell" id="nr15"></td>
      <td class="cell" id="nr16"></td>
      <td class="cell" id="nr17"></td>
      <td class="cell" id="nr18"></td>
      <td class="cell" id="nr19"></td>
      <td class="cell" id="nr20"></td>
  </tr>
  <tr>
      <td class="cell" id="nr21"></td>
      <td class="cell" id="nr22"></td>
      <td class="cell" id="nr23"></td>
      <td class="cell" id="nr24"></td>
      <td class="cell" id="nr25"></td>
      <td class="cell" id="nr26"></td>
      <td class="cell" id="nr27"></td>
  </tr>
  <tr>
      <td class="cell" id="nr28"></td>
      <td class="cell" id="nr29"></td>
      <td class="cell" id="nr30"></td>
      <td class="cell" id="nr31"></td>
      <td class="cell" id="nr32"></td>
      <td class="cell" id="nr33"></td>
      <td class="cell" id="nr34"></td>
  </tr>
  <tr id="LastRow">
      <td class="cell" id="nr35"></td>
      <td class="cell" id="nr36"></td>
      <td class="cell" id="nr37"></td>
      <td class="cell" id="nr38"></td>
      <td class="cell" id="nr39"></td>
      <td class="cell" id="nr40"></td>
      <td class="cell" id="nr41"></td>
  </tr>
  </table>
</div>
<br>


<table class="table table-bordered" *ngIf="showTable">
  <thead>
    <tr>
      <th scope="col">Übung</th>
      <th scope="col">Satz 1</th>
      <th scope="col">Satz 2</th>
      <th scope="col">Satz 3</th>
      <th scope="col">Satz 4</th>
      <th scope="col">Satz 5</th>
    </tr>
  </thead>
  <tbody id="workoutTableBody">

  </tbody>
</table>
