<br>
<h1 class="text-center">Neues Workout hinzufügen</h1>
<hr>
<div class="row">
  <div class="col-lg-6">
    <label>Wie viele Übungen haben Sie in Ihrem Workout absolviert?</label>
  </div>
  <div class="col-lg-6">
    <input type="number" class="form-control" placeholder="1 - 15" min="1" max="15" (input)="onExerciseChange(exerciseCount.value)" #exerciseCount>
  </div>
</div>
<br>
<br>
<form (ngSubmit)="onWorkoutSubmit(workoutForm)" #workoutForm="ngForm">
  <div class="row" *ngFor="let exerciseNumber of exerciseArr">
    <div class="col-lg-2">
      <input type="text" class="form-control" placeholder="Übung {{exerciseNumber + 1}}" name="uebung{{exerciseNumber}}" ngModel>
    </div>
    <div class="col-lg-2">
      <input type="number" class="form-control" placeholder="Satz 1" name="uebung{{exerciseNumber}}satz1" ngModel>
      <input type="number" class="form-control" placeholder="Gewicht" name="uebung{{exerciseNumber}}satz1kg" ngModel>
    </div>
    <div class="col-lg-2">
      <input type="number" class="form-control" placeholder="Satz 2" name="uebung{{exerciseNumber}}satz2" ngModel>
      <input type="number" class="form-control" placeholder="Gewicht" name="uebung{{exerciseNumber}}satz2kg" ngModel>
    </div>
    <div class="col-lg-2">
      <input type="number" class="form-control" placeholder="Satz 3" name="uebung{{exerciseNumber}}satz3" ngModel>
      <input type="number" class="form-control" placeholder="Gewicht" name="uebung{{exerciseNumber}}satz3kg" ngModel>
    </div>
    <div class="col-lg-2">
      <input type="number" class="form-control" placeholder="Satz 4" name="uebung{{exerciseNumber}}satz4" ngModel>
      <input type="number" class="form-control" placeholder="Gewicht" name="uebung{{exerciseNumber}}satz4kg" ngModel>
    </div>
    <div class="col-lg-2">
      <input type="number" class="form-control" placeholder="Satz 5" name="uebung{{exerciseNumber}}satz5" ngModel>
      <input type="number" class="form-control" placeholder="Gewicht" name="uebung{{exerciseNumber}}satz5kg" ngModel>
    </div>
  </div>
  <br>
  <br>
  <div class="row" *ngIf="exerciseArr.length > 0">
    <div class="col-md text-left">
      <label class="align-top">An welchem Tag fand Ihr Workout statt?</label>
    </div>
    <div class="col-md text-center">
      <select name="day" id="day" class="form-control" [(ngModel)]="selectedDay">
        <option *ngFor="let day of calendarService.getDaysArr(calendarService.monthConverter(selectedMonth), selectedYear)">{{day}}</option>
      </select>
    </div>
    <div class="col-md text-center">
      <select name="month" class="form-control" [(ngModel)]="selectedMonth">
        <option *ngFor="let month of calendarService.months">{{month}}</option>
      </select>
    </div>
    <div class="col-md text-center">
      <select name="year" class="form-control" [(ngModel)]="selectedYear">
        <option>2017</option>
        <option>2018</option>
        <option>2019</option>
      </select>
    </div>
    <div class="col-md text-right">
      <button class="btn btn-primary" type="submit">Workout speichern</button>
    </div>
  </div>
</form>
<br>
<br>
